#{extends 'main.html' /}
#{set title:'Registration' /}

<div id="home">

    <h2>Registration on organization ${groupId}</h2>

    <div id="signin">
        #{form @registration(groupId)}
            #{if flash.error}
                <p class="error">
                    ${flash.error}
                </p>
            #{/if}
            <p>
                <label>Username</label>
                <input type="text" name="username" id="username" value="${username}">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="${password}">
            </p>
            <p>
                <label for="password">RE Password</label>
                <input type="password" name="repassword" id="repassword" value="${password}">
            </p>
            <p>
                <label>Name</label>
                <input type="text" name="name" id="name" value="${name}">
            </p>
            <p>
                <label>Surname</label>
                <input type="text" name="surname" id="surname" value="${surname}">
            </p>
            <p>
                <label>Email</label>
                <input type="text" name="mail" id="mail" value="${mail}">
            </p>
            <p>
                <label>Avatar</label>
                <input type="text" name="avatar" id="avatar" value="${avatar}">
            </p>
            <p>
                <label for="code">Please type the code below: </label>
                <input type="text" name="code" id="code" size="18" value="" />
                <img src="@{Application.captcha(randomID)}" />
                <input type="hidden" name="randomID" value="${randomID}" />
            </p>
            <p>
                <label></label>
                <input type="submit" id="enter" value="Register">
            </p>
        #{/form}
    </div>
</div>