#{extends 'main.html' /}
#{set title:'Room "' + room + '"'/}

<h1>You are now chatting as ${user.username}
    | <a id="new-chatroom" href="#">New chat room</a>
    | <a href="@{Application.index()}">Home</a>
    | <a href="@{leaveAllRooms()}">Disconnect</a>
</h1>
<div id="rooms">
    <h1>Available rooms</h1>
    #{list rooms}
    <div id="room"><a href="@{room(_.name)}">${_.name}</a></div>
    #{/list}
    #{if false}
    <h1>Private rooms</h1>
    #{list privateRooms}
    #{if _.privateUser1 != user.mail}
    <div id="room"><a href="@{Rooms.room(_.name)}">${_.privateUser1()}</a></div>
    #{/if}
    #{if _.privateUser2 != user.mail}
    <div id="room"><a href="@{Rooms.room(_.name)}">${_.privateUser2()}</a></div>
    #{/if}
    #{/list}
    #{/if}
    <h1>Available people</h1>
    #{list users}
    #{if _.mail != user.mail}
    <div id="room"><a href="@{Rooms.newPrivateRoom(user.mail, _.mail)}">${_.username}</a></div>
    #{/if}
    #{/list}
</div>
#{if room != 'welcome'}
<div id="thread-title">
${roomTitle}
</div>
<div id="thread">
    #{list events}
        #{if _.type == models.MessageType.HTML}
            <div class="message ${_.user == user.mail ? 'you' : ''}">
                <h2>${_.username()}</h2>
                <p style="text-align: justify">
                    ${_.text.raw()}
                </p>
            </div>
        #{/if}
        #{if _.type == models.MessageType.JOIN}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.username()} joined the room
                </p>
            </div>
        #{/if}
        #{if _.type == models.MessageType.LEAVE}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.username()} left the room
                </p>
            </div>
        #{/if}
    #{/list}
</div>

<div id="newMessage">
    #{form @say(room)}
    <input type="text" id="message" name="message" autocomplete="off" >
        <input type="submit" value="send" id="send">
    #{/}
</div>
#{/if}


#{if room == 'welcome'}
<div id="welcome"><h1>Welcome to Campfire</h1></div>
#{/if}

<script type="text/javascript" charset="${_response_encoding}">
   
    $('#new-chatroom').click(function() {
        var name = prompt('Room name');
        if (name == "" || name == null) {
            name = "New room";
        }
        $.post("@{rooms()}", {name: name}, function(evt) {
            $('#rooms').load("@{room(room)} #rooms", function() {
                focusInput();
            });
        });
    });

    $('#thread-title').click(function() {
        var value = prompt('Title');
        $.post("@{setTitle(room)}", {value: value}, function(room) {
            $('#thread-title').html(value);
        });
    });
    
    var scrollDown = function() {
        $('#thread').scrollTo('max')
    }

    var focusInput = function() {
        $('#message').focus();
    }

    var refresh = function() {
        $('#thread').load('@{room(room)} #thread .message', function() {
            focusInput()
        })
        
    }
    $(document).ready( function() {
        scrollDown();
        focusInput();
        setInterval(refresh, 1000);
    });
    
</script>
