#{extends 'main.html' /}
#{set title:'Room "' + room + '"'/}

<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="@{GroupController.index(groupId)}">${group.name}</a>
            <ul class="nav">
                <li><a id="new-chatroom" href="#">New chat room</a></li>
                <!--<li><a href="#">Settings</a></li>-->
                <li><a href="@{leaveAllRooms(groupId)}">Disconnect</a></li>
            </ul>
            <p class="pull-right">Logged in as <a href="#">${user.name} ${user.surname} (${user.username})</a></p>
        </div>
    </div>
</div>

<div id="rooms">
</div>
    
<div id="chat" class="container-fluid">
    <ul id="tabs" class="tabs">
    #{list rooms}
        #{if room == _.name}
        <li class="active">
        #{/if}
        #{ifnot room == _.name}
        <li>
        #{/ifnot}
        <a href="@{room(groupId, _.name)}">${_.name}</a></li>
    #{/list}
    </ul>
    <div class="sidebar">
        <div class="well">
            <h3>${room}</h3>
            <div id="thread-title">
                <p><i>${roomTitle}</i></p>                
            </div>
            <br/>
            #{ifnot room == 'Home'}
            <a href="@{Rooms.leave(groupId, room)}" class="btn danger">Leave this room</a>
            <br/><br/>
            #{/ifnot}
            <span class="label success"><b>Who's here ?</b></span>
            <div id="who">
                #{list users}
                #{if _.mail != user.mail}
                <div id="room"><a href="@{Rooms.newPrivateRoom(groupId, user.mail, _.mail)}">${_.username}</a></div>
                #{/if}
                #{/list}
            </div>
            <br/>
            <div id="files">
                <span class="label success"><b>Latest files</b></span>
                <br/><br/>
                <a href="#" class="btn primary">upload file</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="thread">
            #{list events}
            #{if _.type == models.MessageType.HTML}
            <div class="message ${_.user == user.mail ? 'you' : ''}">
                <h2>${_.username()}</h2>
                <p style="text-align: justify">
                    ${_.text.raw()}
                </p>
            </div>
            #{/if}
            #{if _.type == models.MessageType.JOIN}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.username()} joined the room
                </p>
            </div>
            #{/if}
            #{if _.type == models.MessageType.LEAVE}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.username()} left the room
                </p>
            </div>
            #{/if}
            #{/list}
        </div>
    </div>
</div>

<div id="newMessage">
    #{form @say(groupId, room)}
    <input type="text" id="message" name="message" autocomplete="off" class="span11">
    <input type="submit" value="   send   " id="send">
    #{/}
</div>

<script type="text/javascript" charset="${_response_encoding}">
   
    $('#new-chatroom').click(function() {
        var name = prompt('Room name');
        if (name == "" || name == null) {
            name = "New room";
        } else {
            $.post("@{rooms(groupId)}", {name: name}, function(evt) {
                $('#tabs').load("@{room(groupId, room)} #tabs li", function() {
                    focusInput();
                });
            });
        }
    });

    $('#thread-title').click(function() {
        var value = prompt('Title');
        $.post("@{setTitle(groupId, room)}", {value: value}, function(room) {
            $('#thread-title').html(value);
        });
    });
    
    var scrollDown = function() {
        $('#thread').scrollTo('max')
    }

    var focusInput = function() {
        $('#message').focus();
    }

    var refresh = function() {
        // too much reloads : need special handlers
        $('#thread').load('@{room(groupId, room)} #thread .message', function() {
            focusInput()
        });
        $('#tabs').load('@{room(groupId, room)} #tabs li', function() {});
        $('#who').load('@{room(groupId, room)} #who #room', function() {});
        $('#thread-title').load('@{room(groupId, room)} #thread-title', function() {});
    }
    $(document).ready( function() {
        scrollDown();
        focusInput();
        setInterval(refresh, 1000);
    });
    
</script>
