#{extends 'main.html' /}
#{set title:'Room "' + room + '"'/}

<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="@{GroupController.index(groupId)}">${group.name}</a>
            <ul class="nav">
                <li><a id="new-chatroom" href="#">New chat room</a></li>
                <li><a href="#">Logs</a></li>
                <li><a href="@{leaveAllRoomsAndDisconnect(groupId)}">Disconnect</a></li>
            </ul>
            <p class="pull-right">Logged in as <a href="#">${user.name} ${user.surname} (${user.username})</a></p>
        </div>
    </div>
</div>

<div id="rooms">
</div>
    
<div id="chat" class="container-fluid">
    <ul id="tabs" class="tabs">
    #{list rooms}
        #{if room == _.name}
        <li class="active">
        #{/if}
        #{ifnot room == _.name}
        <li>
        #{/ifnot}
        <a href="@{room(groupId, _.name)}">${_.name}</a></li>
    #{/list}
    </ul>
    <div class="sidebar">
        <div class="well">
            <h3>${room}</h3>
            <div id="thread-title">
                <p><i>${roomTitle}</i></p>                
            </div>
            <br/>
            #{ifnot room == 'Home'}
            <a href="@{Rooms.leave(groupId, room)}" class="btn danger">Leave this room</a>
            <br/><br/>
            #{/ifnot}
            <span class="label success"><b>Who's here ?</b></span>
            <div id="who">
                #{list users}
                #{if _.mail != user.mail}
                <div id="room"><a href="@{Rooms.newPrivateRoom(groupId, user.mail, _.mail)}">${_.username}</a></div>
                #{/if}
                #{/list}
            </div>
            <br/>
            <div id="files">
                <span class="label success"><b>Latest files</b></span>
                <br/><br/>
                <a href="#" class="btn primary">upload file</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="thread">
            #{list events}
            #{if _.type == models.MessageType.HTML}
            <div class="message ${_.user == user.mail ? 'you' : ''}">
                <h2>${_.username()}</h2>
                <p style="text-align: justify">
                    ${_.text.raw()}
                </p>
            </div>
            #{/if}
            #{if _.type == models.MessageType.JOIN}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.username()} joined the room
                </p>
            </div>
            #{/if}
            #{if _.type == models.MessageType.LEAVE}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.username()} left the room
                </p>
            </div>
            #{/if}
            #{/list}
        </div>
    </div>
</div>

<div id="newMessage">
    <input type="text" id="message" name="message" autocomplete="off" class="span11">
    <a href="#" class="btn success" id="send">   send   </a>
</div>
<div id="mess"></div>
<script type="text/javascript" charset="${_response_encoding}">
    
    var username = '${user.username}';
    var lastMessage = '${lastMessage}';
    var autoscroll = true;
    var scrolling = 0;
    var topScrolling = 0;
    
    var socket = new WebSocket('@@{Rooms.ChatRoomSocket.join(room, groupId)}');
    
    var display = function(event) {
        var style = '';
        if (username == event.user) {
            style = 'you';
        }
        if (event.type == 'join' || event.type == 'leave') {
            style = 'notice';
        }
        if (event.last != lastMessage) {
            var msg = '<div class="message ' + style + '"><h2>' 
                + event.user + '</h2><p style="text-align: justify">' 
                + event.text + '</p></div>';
            $('#thread').append(msg);
            lastMessage = event.last;
            scrollDown();
        }
    }
    
    socket.onmessage = function(event) {
        var parts = /^([^:]+):([^:]+):([^:]+):([^:]+)$/.exec(event.data);
        display({
            type: parts[1],
            last: parts[2],
            user: parts[3],
            text: parts[4]
        });
    }
    
    $("#thread").scroll(function(e) {
        var newScrolling = $('#thread').scrollTop();
        scrolling = newScrolling;
        if (scrolling >= topScrolling) {
            autoscroll = true;
        }
        if (scrolling > topScrolling) {
            topScrolling = scrolling;
        }
        if (scrolling < topScrolling) {
            autoscroll = false;
        }
    });
    
    $('#send').click(function(e) {
        var message = $('#message').val();
        $('#message').val('');
        if (message != "") {
            socket.send(message);
            scrollDown();
        }
        e.preventDefault();
        focusInput();
    });
    
    $('#message').keypress(function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            $('#send').click();
            e.preventDefault();
        }
    })
   
    $('#new-chatroom').click(function() {
        var name = prompt('Room name');
        if (name == "" || name == null) {
            name = "New room";
        } else {
            $.post("@{rooms(groupId)}", {name: name});
        }
    });

    $('#thread-title').click(function() {
        var value = prompt('Title');
        $.post("@{setTitle(groupId, room)}", {value: value});
    });
    
    var scrollDown = function() {
        if (autoscroll) {
            $('#thread').scrollTo('max')
        }
    }

    var focusInput = function() {
        $('#message').focus();
    }

    var refresh = function() {
        $.ajax({ type: "GET", url: "@{Rooms.roomsUpdate(groupId, room)}", success: function(msg){
            $('#tabs').html(msg);
        }});
        $.ajax({ type: "GET", url: "@{Rooms.usersUpdate(groupId, room)}", success: function(msg){
            $('#who').html(msg); 
        }});
        $.ajax({ type: "GET", url: "@{Rooms.getTitle(groupId, room)}", success: function(msg){
            $('#thread-title').html("<p><i>" + msg + "</i></p>") 
        }});
    }
    $(document).ready( function() {
        scrollDown();
        focusInput();
        setInterval(refresh, 3000);
    });
    
</script>
