#{extends 'main.html' /}
#{set title:'Room "' + room + '"'/}

<h1>You are now chatting as ${user.name}
    | <a href="@{leave(room)}">Leave the chat</a>
    | <a id="new-chatroom" href="#">New chat room</a>
    | <a href="@{index()}">Home</a></h1>
<div id="rooms">
    <h1>Available rooms</h1>
    #{list rooms}
    <div id="room"><a href="@{room(_.name)}">${_.name}</a></div>
    #{/list}
</div>
#{if room != 'welcome'}
<div id="thread-title">
${roomTitle}
</div>
<div id="thread">
    #{list events}
        #{if _.type == models.MessageType.HTML}
            <div class="message ${_.user == user.name ? 'you' : ''}">
                <h2>${_.user}</h2>
                <p>
                    ${_.text.raw()}
                </p>
            </div>
        #{/if}
        #{if _.type == models.MessageType.JOIN}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.user} joined the room
                </p>
            </div>
        #{/if}
        #{if _.type == models.MessageType.LEAVE}
            <div class="message notice">
                <h2></h2>
                <p>
                    ${_.user} left the room
                </p>
            </div>
        #{/if}
    #{/list}
</div>

<div id="newMessage">
    #{form @say(room)}
    <input type="text" id="message" name="message" autocomplete="off" >
        <input type="submit" value="send" id="send">
    #{/}
</div>
#{/if}


#{if room == 'welcome'}
<div id="welcome"><h1>Welcome to Campfire</h1></div>
#{/if}

<script type="text/javascript" charset="${_response_encoding}">
   
    $('#new-chatroom').click(function() {
        var name = prompt('Room name');
        $.post("@{rooms()}", {name: name}, function(room) {
            $('#rooms').append(
                '<div id="room"><a href="/rooms/' + name + '">' + name + '</a></div>'
            );
        });
    });

    $('#thread-title').click(function() {
        var value = prompt('Title');
        $.post("@{setTitle(room)}", {value: value}, function(room) {
            $('#thread-title').html(value);
        });
    });
    
        // Scroll the messages panel to the end
    var scrollDown = function() {
        $('#thread').scrollTo('max')
    }

    var focusInput = function() {
        $('#message').focus();
    }

    // Reload the whole messages panel
    var refresh = function() {
        $('#thread').load('@{room(room)} #thread .message', function() {
            focusInput()
        })
    }
    
    // Call refresh every 5 seconds
    setInterval(refresh, 1000);
    
    scrollDown();
    focusInput();
    
</script>
