#{extends 'main.html' /}
#{set title:'Sign in' /}

<div id="home">

    <h2>Campfire</h2>

    <div id="signin">
        #{form @enter()}
            #{if flash.error}
                <p class="error">
                    ${flash.error}
                </p>
            #{/if}
            <p>
                <label for="nick">Email address</label>
                <input type="text" name="user" id="user">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </p>
            <p>
                <label></label>
                <input type="submit" id="enter" value="Enter the chat room">
            </p>
        #{/form}
    </div>
    <a href="@{register()}">Register</a>

</div>